<h1>About</h1>
<p>
 Hi, my name is Yerong Chen. This is a sample application that I built to practise my knowledge of Rails. Currently, it's still quite simple, but I will constantly add new features to it. So if you're interested, do check it out from time to time.
</p>
